# ignore Python byte-code & build cruft
__pycache__/
*.py[cod]
drosophila_*/
split_*/
bottleneck/
.snakemake/
benchmarks/
Snakefile.simple
experiments/
OOA/
real_data_analysis/
test_scripts/
scripts/
moments-opt-example.py
graham_schmidt.ipynb
preserved_experiments/
logs/
old_experiments/
neutral_experiments/
experiments_BGS/
debugging_scripts/