__pycache__/
*.py[cod]
drosophila_*/
split_*/
bottleneck/
.snakemake/
benchmarks/
Snakefile.simple
experiments/
OOA/
real_data_analysis/
test_scripts/
scripts/
moments-opt-example.py
graham_schmidt.ipynb
preserved_experiments/
logs/
old_experiments/
neutral_experiments/
experiments_BGS/
add_fim_resids_to_all_inferences.py
run_all_models.sh
test_real_data_analysis/
debugging_scripts/
experiment_neutral/
experiments_BGS/
experiments_full_range_BGS/
experiments_neutral/
debugging/
cleanup_empty_fit_pkls_and_cleanup_done.sh
backfill_bgs_meta.py
ld_3pop_regress/ 
ld_dbg_2pop_regress/
debug_compare_gpu_cpu_ld_replicates.py
debug_compare_gpu_cpu_ld_2pop.py
ld_3pop_debug/
notebooks/investigating_drosophila.ipynb
debug_experiments/
debug_drosoph_*.py
split_isolation_BGS_LD_stats_comparison.py
experiments_BGS_test/
pipeline_debugging_scripts/IM_asymmetric_Nate.py
run_inference.py
pipeline_debugging_scripts/comparing_sfs_w_and_wo_anc_graph.py
plot_dadi_vs_moments.py
check_dadi_moments.sh
scaling_comparison/
pipeline_debugging_scripts/compare_scaling_factors.py
pipeline_debugging_scripts/create_sfs_from_real_data_test.py
pipeline_debugging_scripts/split_migration_growth_debug.py
pipeline_debugging_scripts/scaling_comparison_metrics.csv
