__pycache__/
*.py[cod]
drosophila_*/
split_*/
bottleneck/
.snakemake/
benchmarks/
Snakefile.simple
experiments/
OOA/
real_data_analysis/
test_scripts/
scripts/
moments-opt-example.py
graham_schmidt.ipynb
preserved_experiments/
logs/
old_experiments/
neutral_experiments/
experiments_BGS/
add_fim_resids_to_all_inferences.py
run_all_models.sh
test_real_data_analysis/
debugging_scripts/
experiment_neutral/
experiments_BGS/
experiments_full_range_BGS/
experiments_neutral/
debugging/
