linear:
  types: ["standard", "ridge", "lasso", "elasticnet"]
  standard: {}
  ridge:
    alpha: 10.0
    grid_search: false
  lasso:
    alpha: 0.1
    grid_search: true
  elasticnet:
    alpha: 0.5
    l1_ratio: 0.2
    grid_search: false

rf:
  enable: true
  use_optuna: false
  final_fit: "train_plus_tune"

  # bypass optuna by setting any of these:
  n_estimators: 300
  max_depth: 15
  min_samples_split: 10

  min_samples_leaf: 5
  max_features: "sqrt"
  max_samples: 0.75

xgb:
  enable: true
  use_optuna: false
  final_fit: "train_only"          # IMPORTANT with early stopping
  early_stopping_rounds: 50        # uses TUNE as eval_set

  n_estimators: 2000               # upper bound; ES will stop earlier
  max_depth: 5
  learning_rate: 0.03
  subsample: 0.9
  colsample_bytree: 0.8
  min_child_weight: 3
  reg_lambda: 5.0
  reg_alpha: 0.0

  top_k_plot: 20